/* ===================================
   Page layout overrides
   ================================== */


.sidebar .nav__list .nav__items .nav__sub-title {
  font-size: 0.9rem;
}

.sidebar .nav__list .nav__items > li > ul,
.sidebar .nav__list .nav__items > li > ul > li {
  font-size: 0.85rem;
}

.sidebar .nav__list .nav__items > li > ul > li > ul,
.sidebar .nav__list .nav__items > li > ul > li > ul > li {
  font-size: 0.8rem;
}

.sidebar .nav__list .nav__items > li > ul > li > ul > li > ul,
.sidebar .nav__list .nav__items > li > ul > li > ul > li > ul > li {
  font-size: 0.75rem;
}

.sidebar .nav__list .nav__items > li > ul > li > ul > li > ul > li > ul,
.sidebar .nav__list .nav__items > li > ul > li > ul > li > ul > li > ul > li {
  font-size: 0.7rem;
}

.sidebar .nav__list .nav__items ul {
  padding-inline-start: 1em;
}

/* Sticky TOC went weird */
   .sidebar__right.sticky {
    @include breakpoint($large) {
      position: sticky;
      top: 2em;
      inset-inline-end: auto;
      float: inline-end;
      width: $right-sidebar-width-narrow;
      margin-inline-end: -1 * $right-sidebar-width-narrow;
    }
  
    @include breakpoint($x-large) {
      width: $right-sidebar-width;
      margin-inline-end: -1 * $right-sidebar-width;
    }
  }



