---
layout: single
classes: fullwidth
author_profile: false
---

<div class="pyw-event-header">
  {% if page.event_type %}
    <span class="pyw-event-badge pyw-event-badge--{{ page.event_type | slugify }}">{{ page.event_type }}</span>
  {% endif %}

  <div class="pyw-event-meta">
    <p><i class="fas fa-calendar"></i> {{ page.date | date: "%-d %B %Y" }}{% if page.time %}, {{ page.time }}{% endif %}</p>
    {% if page.location %}<p><i class="fas fa-map-marker-alt"></i> {{ page.location }}</p>{% endif %}
  </div>

  <div class="pyw-event-registration">
    {% if page.registration_info %}
      <p class="pyw-event-registration-status">{{ page.registration_info }}</p>
    {% endif %}
    {% if page.registration_link %}
      <a href="{{ page.registration_link }}" class="btn btn--info pyw-event-register">Register</a>
    {% endif %}
    <br>
  </div>
</div>


{{ content }}

{% include event-people.html %}


{% if page.gallery %}
  <h3>Photos</h3>
  {% include gallery id="gallery" %}
{% endif %}